<?xml version="1.0"?>
<launch>
  <node pkg="map_matcher" type="map_matcher" name="map_matcher" output="screen">
    <param name="rotation_downsampling" type="double" value="2.0"/>
  </node>

  <node pkg="map_matcher" type="localizer_example" name="localizer_example" output="screen">
    <remap from="/slam_map" to="/map" />
    <param name="reference_map_name" type="string" value="map" />
    <param name="maps_folder" type="string" value="~/maps" />
  </node>
</launch>
